header li > a {
  display: flex;
  position: relative;
  line-height: inherit;
  transition: var(--trans-color);
}

.header-top .wrapper {
  font-size: var(--font-small);
  font-weight: var(--fw3);
  justify-content: space-between;
  line-height: 42px;
}

.header-top .wrapper ul {
  gap: 2em;
}

.header-top li {
  position: relative;
}

.header-top ul ul {
  position: absolute;
  left: -1em;
  line-height: 2em;
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  z-index: 1;

  visibility: hidden;
}

.header-top .right ul ul li a {
  padding: 0.25em 1em;
}

.header-top .right ul ul li.current a {
  background-color: var(--border-color);
}

.header-top li:hover ul {
  visibility: visible;
}
